<!-- views/map.html -->
<div class='building-list'>
	<div class="building-card" ng-repeat="building in buildings">
		<p>{{building.name}}</p>
	</div>
</div>
<div id="map-container">
	<div id="map"></div>
</div>

<div class="add-building">
	<form name="addBuildingForm" ng-submit="addBuilding( name, coordinates, url )" novalidate>
		<input type="text" name="buildingName" ng-model="name" placeholder="Add name"/><br>
		<input type="text" name="buildingCoordinates" ng-model="coordinates" placeholder="Add coordinates"/><br>
		<input type="url" name="buildingUrl" ng-model="url" placeholder="Add url"/><br>
		<input type="submit"/>
	</form>
</div>